#{extends 'index.html' /}
#{set title:'Results' /} 
<h1> How to cite this data </h1>    <br>  
	    
<legend> This website is a companion to the paper "Transcriptional diversity during lineage commitment of human blood progenitors". If you use our data, please cite this paper.  </legend>      		
	
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
