#{extends 'index.html' /}
#{set title:'Results' /} 
<h1>Funding</h1>    <br>  
	    
<legend> The work described in the manuscript and this website was primarily supported by the European Commission Seventh Framework Program
 through the BLUEPRINT grant with code HEALTH-F5-2011-282510.

<br> 
<br>
For more information on the Blueprint project, please visit the website <a href="http://www.blueprint-epigenome.eu/"> www.blueprint-epigenome.eu </a>
<br><br><br>
This work is a collaboration between several partners:

</legend>      		
	
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
         		
         		
	        
