#{extends 'index.html' /}
#{set title:'Adminindex' /} 					
                        		
					
                        		
					
<legend>                      		   
The Blueprint consortium aims to produce reference epigenetic and transcriptomic profiles of all normal and malignant haematopoietic cells. As part of this effort, we deep sequenced the transcriptome of six progenitor and two precursor cell populations.					
     <br><br>  <center>  <img  src="@{'/public/images/fig_tree.jpeg'}"  alt="haem_tree"  width="808" height="608" />	                 		
	<br><br>	</center>
Above is represented the current model of haematopoietic cell ontogeny and samples used in this study. Established ontological relationships are represented as solid lines and emerging ontological relationship are represented as dotted lines. A simplified representation of mature cells is shaded. The bone marrow residing components are the haematopoietic stem cell (HSC, light blue), multipotent progenitor (MPP, dark blue), lymphoid-primed multipotent progenitor (LMPP), common lymphoid progenitor (CLP, light green), common myeloid progenitor (CMP, dark green), granulocyte-monocyte progenitor (GMP, light red), megakaryocyte-erythrocyte progenitor (MEP, red), erythroblast (EB, light orange) and megakaryocyte (MK, orange). The blood residing components are the platelets (P), erythrocyte (E), neutrophil (N), eosinophil (Eo), monocyte (M) and lymphocyte (L). The antigens used for selecting each population are also indicated.
         <br><br>                   			
	The data analysis strategy relied on the alignment to the reference human transcriptome for the quantification of gene and transcript expression, and to the reference human genome for the identification of novel splice junctions and alternative splicing events. We used Bowtie, GSNAP, GEM and STAR for the alignments.				  
                        		   
	<br><br>					
                        		
		
         <center>                   			
	<img src="@{'/public/images/fig_schema.jpeg'}"  alt="haem_tree"  width="408" height="608" />				  
         </center>               		   
	<br><br>					
        The expression of key haematopoietic transcription factors required for lineage commitment was consistent with their individual roles in blood development.                 		
	<br><br>	
                            			
					  
                        		   
						
                        		
	<center>	
       <img  src="@{'/public/images/fig_riverflow.jpeg'}"  alt="haem_tree"  width="808" height="508" />                     			
	</center>				  
                        		   
	<br><br>	<br><br>					
					
                        		
		
        <h4>Browse our results in data and go to tools for accessing and visualising your chosen subset genes or transcripts.</h4>                    			
	
  </legend>
